<div class="pageDesc">
    <h1>Games</h1>
    <p>Games featured on our review site</p>
</div>

{{!Read table}}
<table>
    <thead>
        <tr>
            {{#each games.[0]}}
            <th>{{@key}}</th>
        {{/each}}
        </tr>
        <th></th>
    </thead>
    <tbody>
        {{#each games}}
        <tr>
            <td>{{this.gameID}}</td>
            <td>{{this.Game}}</td>
            <td>{{this.Developer}}</td>
            <td>{{this.ESRB}}</td>
            <td>{{this.ReleaseYear}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
