<div class="pageDesc">
    <h1>Lists</h1>
    <p>Lists created by our users</p>
</div>
{{! READ TABLE }}
<table>
    <thead>
        <tr>
            {{#each lists.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each lists}}
        <tr>
            <td>{{this.listID}}</td>
            <td>{{this.userID}}</td>
            <td>{{this.listName}}</td>
            <td>{{this.isPublic}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>