{{!-- 
Citation for the following Handlebars HTML
Date: 12/08/2025
Adapted from CS340 starter code by Michael FitzPerry
--}}

<div class="pageDesc">
    <h1>Lists</h1>
    <p>Lists created by our users</p>
</div>
{{! READ TABLE }}
<table>
    <thead>
        <tr>
            {{#each lists.[0]}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each lists}}
        <tr>
            <td>{{this.listID}}</td>
            <td>{{this.User}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Public}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>