<div class="pageDesc">
    <h1>Reviews</h1>
    <p>Our user reviews</p>
</div>

{{! READ TABLE }}
<table>
    <thead>
        <tr>
            {{#each reviews.[0]}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each reviews}}
        <tr>
            <td>{{this.reviewID}}</td>
            <td>{{this.User}}</td>
            <td>{{this.Game}}</td>
            <td>{{this.Review}}</td>
            <td>{{this.Rating}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
